<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="ALTERNATIVE_JRE_PATH" value="temurin-17" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <option name="MAIN_CLASS_NAME" value="ru.bardinpetr.itmo.lab5.server.Main" />
    <module name="itmo-programming-lab-5.server.main" />
    <option name="PROGRAM_PARAMETERS" value="-d db.xml -p 5555" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="ru.bardinpetr.itmo.lab5.server.api.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>